<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}}</title>
</head>

<body>

    <ul>
        {% for product in product %}
        <li>
            <h2>{{product.name}}</h2>
            <p>{{product.decription}}</p>
            <p>Price: Kshs.{{product.price}}</p>
            <img src="{{product.image.url}}" alt="{{product.name}}">
            <p>Availability:{{product.availability|yesno:"Yes, No"}}</p>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'plp_ecommerce:product_list'%}" class="back-link">Back to Product List</a>

</body>

</html>